# Questa/ModelSim generated libraries and temp data
work/
transcript
vsim.wlf
vsim_stacktrace.vstf
modelsim.ini
*.ucdb
*.vcd
*.vpd
mywaves
*.wlf
*.vstf
*.qdb
*.qpg
*.qtl
*_lock

# Local wave/debug scripts outputs
*.log
*.jou
*.tmp
wlftbbqyft
unknown.png

# OS/editor noise
.DS_Store
Thumbs.db
*.swp
